%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{deps, [{lager,      ".*", {git, "git://github.com/basho/lager.git",            {branch, "master"}}},
        {webmachine, ".*", {git, "git://github.com/basho/webmachine",           {branch, "master"}}},
        {sqlite3,    ".*", {git, "git://github.com/alexeyr/erlang-sqlite3.git", {branch, "master"}}},
        {proper,     ".*", {git, "git://github.com/manopapad/proper.git",       {branch, "master"}}}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{edoc_opts, [{preprocess, true}]}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{xref_warnings, true}.
{xref_checks, [undefined_function_calls]}.
